<html>
    <head>
        <script>
        function enterLeya(){
            var leya = document.getElementById("leya");
            leya.syle.color = "brown";
        
        }

        (function(){

            
        </script>
    <head>
    <body style="background-color: blue">
        Blogovete na bati:
        <div style="width:20%;background-color: red;padding: 5 5 5 5">
            <div style="background-color:blueviolet;margin: 0 auto;">
                <div id="leya" style="margin-left: 40px; background-color: pink;" onmouseenter="enterLeya()">
                {{ blog }}
                </div>
            </div>
        </div>
    </body>
</html>

