appdirs==1.4.3
dj-database-url==0.4.1
Django==1.10.4
django-ckeditor==5.0.2
django-ckeditor-filebrowser-filer==0.2.2
django-filer==1.2.7
django-mptt==0.8.7
django-npm==1.0.0
django-polymorphic==1.0.2
easy-thumbnails==2.3
gunicorn==19.6.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
pyparsing==2.2.0
six==1.10.0
Unidecode==0.4.20
whitenoise==3.2
