{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="sticky-footer row">
    <div class="btn-group" style="margin:0 auto;">
        <button type="button" class="btn btn-secondary sticky-button"><i class="fa fa-angle-left fa-4x" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-secondary sticky-button"><i class="fa fa-picture-o fa-4x" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-secondary sticky-button"><i class="fa fa-book fa-4x" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-secondary sticky-button"><i class="fa fa-qrcode fa-4x" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-secondary sticky-button"><i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-secondary sticky-button"><i class="fa fa-info-circle fa-4x" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-secondary sticky-button"><i class="fa fa-angle-right fa-4x" aria-hidden="true"></i></button>
    </div>
</div>
{% endblock %}
