{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="top-buffer"></div>

    <div class="row">


        <div class=" blog-main">

            <div class="summary-card intro">
                <div class="summary-title">
                    <a href="{% url 'blog' intro.slug %}">{{intro.title}}</a>
                </div>
                <div class="summary-text row">
                    <div class="intro-image col-sm-4">
                        <img class="image"  src="{% get_media_prefix %}{{ intro.image }}"/>
                    </div>
                    <div class="col-sm-7">
                    {{intro.text|safe}}
                    </div>
                </div>
            </div>

            <div class="section-title">Projects:</div>
            {% for blog in projects %}

            <div class="summary-card">
                <div class="summary-title">
                    <a href="{% url 'blog' intro.slug %}">{{blog.title}}</a>
                </div>
                <div class="summary-text row">
                    <div class="summary-image col-sm-4">
                        <img class="image" src="{% get_media_prefix %}{{ blog.image }}"/>
                    </div>
                    <div class="col-sm-7 summary-description">
                    {{blog.description|safe}}
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="section-title">Latest Blogs:</div>
            {% for blog in articles %}
            <div class="summary-card">
                <div class="summary-title">
                    <a href="{% url 'blog' intro.slug %}">{{blog.title}}</a>
                </div>
                <div class="summary-text row">
                    <div class="summary-image col-sm-4">
                        <img class="image" src="{% get_media_prefix %}{{ blog.image }}"/>
                    </div>
                    <div class="col-sm-7 summary-description">
                    {{blog.description|safe}}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div><!-- /.row -->
</div>
{% endblock %}

