{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    .blog-footer {
    position:absolute;
   bottom:0;
  width: 100%;
  padding-top:10px;
  padding-bottom:10px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

</style>
<div class="container">

    <div class="row">
        <div style="margin:0 auto; margin-top:25px;">
            <div style="font-weight: bold; font-size:20px;" class="title">Please scan the QR code beneath the picture </div>
             <div id="reader" style="width:300px;height:250px;margin:0 auto"></div>
        </div>
    </div>
</div>

{% endblock %}
