body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  background-color:#f5f5f5 !important;
}

.blog-footer {

  width: 100%;
  padding-top:10px;
  padding-bottom:10px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.footer-buffer {
    height:100px;

}
.top-buffer{
    height:50px;
}

.intro{
    height: 420px !important;
}

.summary-image {
    float: left;
    height: 140px;

    margin-left: 15px;
    background-color: white;
    margin-right:15px;
}

.intro-image {
    float: left;
    height: 350px;
    background: url(http://a0.twimg.com/profile_images/2231171301/red_square_nigel_tomm_m_normal.jpg);
    margin-left: 15px;
    background-color: white;
    margin-right:15px;

}

.summary-image .intro{
   height: 100px;
}

.image{
    margin: 0 auto;
    display: block;
    height: 100%;
    max-width: 100%;
}

.about-image .image {
    border-radius: 50%;
}

.about-image{
    width: 64px;
    height: 64px;
    margin-top: 10px;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.about-card{
    margin-top: 25px;
}

.about-title{
    font-weight:bold;
    margin-bottom: 5px;
    font-size:18px;
}

.summary-title{

    color: white;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.summary-title a{
    color: inherit;
    text-decoration: none;
}

.summary-title a:hover{
    color: inherit;
    text-decoration: none;
}

.summary-text {
    height: 120px;
    color:white;
   float:right;
}

.summary-description p{
    margin: -10px;
    padding-bottom: 0px !important;
    max-height: 140px;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.summary-card {
    padding: 10px 0px 0px 10px;
    margin-bottom: 25px;
    overflow: hidden;
    background-color: #292b2c;
    height: 200px;
    margin-left: 15px;
    width: 100%;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom:20px;
    margin-top:30px;
}

.dropdown-menu{
   background-color:#292b2c !important;
}

.dropdown-item{
    color: white !important;
    background-color:#292b2c !important;
}

.dropdown-item{
    color: grey !important;
    background-color:#292b2c !important;
}

.dropdown-item:hover{
    color: white !important;
}

.navbar{
    height:80px
}

.nav-item{
    font-size:20px;
}

.navbar-brand{
    font-size:30px !important;
}

.blog-post{
    margin-top:30px;
}